<?xml version='1.0' encoding='UTF-8'?>

<!-- Hardware Components !!! Must !!! have a unique NAME -->
<!-- Hardware Components TIMEOUT can be left empty "" and then the global timeout will be used -->

<settings>
  <js_parameters>
    <LogUpdateInterval>20000</LogUpdateInterval>
    <DataUpdateInterval>3000</DataUpdateInterval>
    <CheckUpdateStatusInterval>30000</CheckUpdateStatusInterval>
    <XMLHttpRequestTimeout>2000</XMLHttpRequestTimeout>
    <DomoticzLogURL></DomoticzLogURL>
    <DomoticzDataURL></DomoticzDataURL>
  </js_parameters>
  <layout>
    <tabs>
      <tab>
        <id>Shades_Lights</id>
        <title>תריסים ותאורה</title>
      </tab>
      <tab>
        <id>Irrigation</id>
        <title>השקייה</title>
      </tab>
      <tab>
        <id>HVAC</id>
        <title>מיזוג</title>
      </tab>
      <tab>
        <id>Boiler</id>
        <title>דוד חשמל</title>
      </tab>
      <tab>
        <id>Sensors</id>
        <title>חיישנים</title>
      </tab>
      <tab>
        <id>Cameras</id>
        <title>מצלמות</title>
      </tab>
      <tab>
        <id>Multimedia</id>
        <title>מולטימדיה</title>
      </tab>
      <tab>
        <id>Hardware</id>
        <title>חומרה</title>
      </tab>
      <tab>
        <id>Log</id>
        <title>לוג</title>
      </tab>
    </tabs>
  </layout>
  <elements>
    <element>
      <idx>1</idx>
      <tab>Shades_Lights</tab>
    </element>
    <element>
      <idx>30</idx>
      <tab>Irrigation</tab>
    </element>
    <element>
      <idx>35</idx>
      <tab>Irrigation</tab>
    </element>
  </elements>
  <server>
    <domoticz>
      <name>Domoticz Server</name>
      <type>Domoticz Server</type>
      <ip>192.168.2.117</ip>
      <port>33333</port>
      <user></user>
      <password></password>
      <timeout></timeout>
      <logURL>/json.htm?type=command&amp;param=getlog&amp;jsoncallback=?</logURL>
      <dataURL>/json.htm?type=devices&amp;filter=all&amp;used=true&amp;order=Name&amp;jsoncallback=?</dataURL>
    </domoticz>
  </server>
  <hardware>
    <component>
      <name>ESP Cloud Witty #3</name>
      <type>ESP Easy</type>
      <ip>192.168.2.23</ip>
      <port>80</port>
      <user></user>
      <password></password>
      <timeout>2000</timeout>
    </component>
    <component>
      <name>Broadlink RM Bridge</name>
      <type>Broadlink RM Bridge</type>
      <ip>192.168.2.60</ip>
      <port>7474</port>
      <user></user>
      <password></password>
      <timeout>2000</timeout>
    </component>
    <component>
      <name>MKTronic LAN Ethernet IP 8 Channels WEB Relay Board</name>
      <type>MKTronic LAN Relay Board</type>
      <ip>192.168.2.20</ip>
      <port>80</port>
      <user>admin</user>
      <password>admin</password>
      <timeout>2000</timeout>
    </component>
  </hardware>
</settings>