<?xml version='1.0' encoding='UTF-8'?>

<!-- Hardware Components !!! Must !!! have a unique NAME -->
<!-- Hardware Components TIMEOUT can be left empty "" and then the global timeout will be used -->

<settings>
  <js_parameters>
    <CheckHardwareStatusInterval>30000</CheckHardwareStatusInterval>
    <UpdateDomoticzLogInterval>20000</UpdateDomoticzLogInterval>
    <CheckDeviceStatusInterval>3000</CheckDeviceStatusInterval>
    <XMLHttpRequestTimeout>2000</XMLHttpRequestTimeout>
  </js_parameters>
  <layout>
    <tabs>
      <tab>
        <id>Shades_Lights</id>
        <title>תריסים ותאורה</title>
        <direction>rtl</direction>
        <imagesrc_icon>images/blinds.png</imagesrc_icon>
        <imagesrc_open>images/blindsopen48.png</imagesrc_open>
        <imagesrc_close>images/blinds48.png</imagesrc_close>
        <imagesrc_open_select>images/blindsopen48sel.png</imagesrc_open_select>
        <imagesrc_close_select>images/blinds48sel.png</imagesrc_close_select>
        <imagesrc_stop>images/blindsstop.png</imagesrc_stop>
      </tab>
      <tab>
        <id>Irrigation</id>
        <title>השקייה</title>
        <direction>rtl</direction>
      </tab>
      <tab>
        <id>HVAC</id>
        <title>מיזוג</title>
        <direction>rtl</direction>
      </tab>
      <tab>
        <id>Boiler</id>
        <title>דוד חשמל</title>
        <direction>rtl</direction>
      </tab>
      <tab>
        <id>Sensors</id>
        <title>חיישנים</title>
        <direction>rtl</direction>
      </tab>
      <tab>
        <id>Cameras</id>
        <title>מצלמות</title>
        <direction>rtl</direction>
      </tab>
      <tab>
        <id>Multimedia</id>
        <title>מולטימדיה</title>
        <direction>rtl</direction>
      </tab>
      <tab>
        <id>Hardware</id>
        <title>חומרה</title>
        <direction>ltr</direction>
      </tab>
      <tab>
        <id>Log</id>
        <title>לוג</title>
        <direction>ltr</direction>
        <imagesrc_icon>images/log.png</imagesrc_icon>
      </tab>
    </tabs>
  </layout>
  <devices>
    <device>
      <idx>1</idx>
      <type>Domoticz Server</type>
      <tab>Shades_Lights</tab>
      <label>ויטרינה</label>
    </device>
    <device>
    <device>
      <idx>35</idx>
      <type>Domoticz Server</type>
      <tab>Shades_Lights</tab>
      <label>סלון</label>
    </device>
      <idx>30</idx>
      <type>Domoticz Server</type>
      <tab>Shades_Lights</tab>
      <label>חדר אוכל</label>
    </device>
    <device>
      <idx>63</idx>
      <type>Domoticz Server</type>
      <tab>Shades_Lights</tab>
      <label>חדר שישי</label>
    </device>
    <device>
      <idx>50</idx>
      <type>Domoticz Server</type>
      <tab>Shades_Lights</tab>
      <label>אלה</label>
    </device>
    <device>
      <idx>56</idx>
      <type>Domoticz Server</type>
      <tab>Shades_Lights</tab>
      <label>נגה מערבי</label>
    </device>
    <device>
      <idx>69</idx>
      <type>Domoticz Server</type>
      <tab>Shades_Lights</tab>
      <label>נגה צפוני</label>
    </device>
    <device>
      <idx>21</idx>
      <type>Domoticz Server</type>
      <tab>Irrigation</tab>
      <label>ממטרות מערב</label>
    </device>
    <device>
      <idx>22</idx>
      <type>Domoticz Server</type>
      <tab>Irrigation</tab>
      <label>ממטרות צפון</label>
    </device>
    <device>
      <idx>23</idx>
      <type>Domoticz Server</type>
      <tab>Irrigation</tab>
      <label>טפטפות</label>
    </device>
  </devices>
  <hardware>
    <component>
      <name>Domoticz Server</name>
      <type>Domoticz Server</type>
      <ip>192.168.2.19</ip>
      <port>8080</port>
      <user></user>
      <password></password>
      <timeout>3000</timeout>
      <logURL>/json.htm?type=command&amp;param=getlog&amp;jsoncallback=?</logURL>
      <dataURL>/json.htm?type=devices&amp;filter=all&amp;used=true&amp;order=Name&amp;jsoncallback=?</dataURL>
      <SwitchOnURL>/json.htm?type=command&amp;param=switchlight&amp;idx=REPLACE_IDX&amp;switchcmd=On</SwitchOnURL>
      <SwitchOffURL>/json.htm?type=command&amp;param=switchlight&amp;idx=REPLACE_IDX&amp;switchcmd=Off</SwitchOffURL>
      <SwitchSetURL>/json.htm?type=command&amp;param=switchlight&amp;idx=REPLACE_IDX&amp;switchcmd=Set%20Level&amp;level=REPLACE_LEVEL</SwitchSetURL>
    </component>
    <component>
      <name>LMS</name>
      <type>Logitech Media Server</type>
      <ip>192.168.2.117</ip>
      <port>9000</port>
      <user></user>
      <password></password>
      <timeout>3000</timeout>
    </component>
    <component>
      <name>ESP Cloud Witty #3</name>
      <type>ESP Easy</type>
      <ip>192.168.2.23</ip>
      <port>80</port>
      <user></user>
      <password></password>
      <timeout>3000</timeout>
    </component>
    <component>
      <name>Broadlink RM Bridge</name>
      <type>Broadlink RM Bridge</type>
      <ip>192.168.2.60</ip>
      <port>7474</port>
      <user></user>
      <password></password>
      <timeout>3000</timeout>
    </component>
    <component>
      <name>MKTronic LAN Ethernet IP 8 Channels WEB Relay Board</name>
      <type>MKTronic LAN Relay Board</type>
      <ip>192.168.2.20</ip>
      <port>80</port>
      <user>admin</user>
      <password>admin</password>
      <timeout>3000</timeout>
    </component>
  </hardware>
</settings>